* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.main-h {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 10px;
    text-shadow: 0 2px 5px black;
    color: white;
    font-size: 3rem;
}

.wrapper {
    max-width: 900px;
    margin: 0 auto;
}

.main-img {
    width: 200px;
}

nav {
    display: flex;
    align-items: center;
}