* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.main-h {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 10px;
    text-shadow: 0 5px 10px rgb(88, 75, 69);
    color: white;
    font-size: 3rem;
    margin-top: -30px;
    color: forestgreen;
}

body {
    background:rgb(190, 221, 151);
}

.wrapper {
    max-width: 900px;
    margin: 0 auto;
}

.main-img {
    width: 200px;
    animation: moveAva 20s linear infinite alternate;
}

nav {
    display: flex;
    align-items: center;
}

.main-wrapper {
    margin-top: 20px;
    background: url("./images/info.png");
    background-size: 100% 100%;
    min-height: 60vh;
    width: 100%;
    box-shadow: 0 0 50px green;
    border-radius: 50px;
    display: block;
    animation: color 700ms ease-out infinite alternate;;
}

@keyframes moveAva {
    from {
        transform: translateX(-50px);
    } to {
              transform: translateX(700px);
          }
}

@keyframes color {
    from {
        box-shadow: 0 0 50px green;
    } to {
              box-shadow: 0 0 0 green;
      }
}